.imgContainer {
  background-color: #cbd0d8;
  overflow: hidden;
}

.imgContainer img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: transform .45s;
}

.zoomImgOnHover img:hover {
  transform: scale(1.02);
}

.loader {
  width: 100%;
  height: 100%;
}
