body {
  margin: 0;
  padding: 0;
  background-color: #edf1f0; //app background color
  font-family: 'Josefin Sans',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
