$APP_BACKGROUND_COLOR: #edf1f0;
$BORDER_COLOR: rgba(0,0,0,0.06);
$PRIMARY_COLOR: #FF6663;

body {
  margin: 0;
  padding: 0;
  background-color: $APP_BACKGROUND_COLOR;
  font-family: 'Josefin Sans',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:global {

  .fit-viewport-body {
    height: calc(100vh - 64px);
    width: 100%;
    box-sizing: border-box;
  }

  .children-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .overlay {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
  }

  .border-bottom {
    border-bottom: 1px solid $BORDER_COLOR;
  }

  .border-top {
    border-top: 1px solid $BORDER_COLOR;
  }

  .border-left {
    border-left: 1px solid $BORDER_COLOR;
  }

  .border-right {
    border-right: 1px solid $BORDER_COLOR;
  }

  .border-all {
    border: 1px solid $BORDER_COLOR;
  }

  .background-primary {
    background-color: $PRIMARY_COLOR;
  }

  .text-primary {
    color: $PRIMARY_COLOR;
  }

  .app-background-color {
    background-color: $APP_BACKGROUND_COLOR;
  }

  .text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text-grey-1 {
    color: rgba(0,0,0,.1);
  }

  .text-grey-2 {
    color: rgba(0,0,0,.2);
  }

  .text-grey-3 {
    color: rgba(0,0,0,.3);
  }

  .text-grey-4 {
    color: rgba(0,0,0,.4);
  }

  .text-grey-5 {
    color: rgba(0,0,0,.5);
  }

  .text-grey-6 {
    color: rgba(0,0,0,.6);
  }

  .text-grey-7 {
    color: rgba(0,0,0,.7);
  }

  .text-grey-8 {
    color: rgba(0,0,0,.8);
  }

  .text-grey-9 {
    color: rgba(0,0,0,.9);
  }

  .text-grey-10 {
    color: rgba(0,0,0,1);
  }

  .text-xs {
    font-size: 10px;
  }

  .text-sm {
    font-size: 12px;
  }

  .text-md {
    font-size: 14px;
  }

  .text-lg {
    font-size: 18px;
  }

  .text-xl {
    font-size: 24px;
  }

}
