.pageLoading {
  composes: fit-viewport-body from global;
  composes: children-center from global;
}

.pageContainer {
  padding: 24px;
}

.noPostsToShow {
  composes: fit-viewport-body from global;
  composes: children-center from global;
}
